/*
 ?? why class html

*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    ?? remove element input -> COMBINED js show element BUT i don't know how do it active??
 - toggle: what is it??
*


 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}
/* body */
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
.btn{
    display: inline;
    margin-top: .8rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

/* end body */
/* header */
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}
    /* logo */
header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--orange);
}
    /* a */
header .navbar a{
    font-size: 2rem;
    color: #fff;
    margin: 0 .8rem;
}header .navbar a:hover{
     color: var(--orange);
}
    /* icons */
header .icons i{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
    cursor: pointer;
}header .icons i:hover{
    color: var(--orange);
}
    /* search info */
header .search-bar-container{
    position: absolute;
    top:100%;left: 0;right: 0;
        /* push element out div but element below div */
    padding:1.5rem 2rem;
    background:#333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    font-size:1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}header .search-bar-container label:hover{
  color:var(--orange);
}

/* form login  */
    /* location */
.login-form-container{
    position: fixed;
    top:-120%; left: 0; 
        /* use covered up body and show when click icon user -> top:0;*/
    z-index: 1001;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container form {
    width: 50rem;
    margin: 2rem;
    background-color: white;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    
}.login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    margin: .4rem 0;
    background-color: #333;
    border: .2rem solid rgba(248, 245, 245, 0.3);
    text-transform: none; 
        /* format text become not upper */
}.login-form-container form .box:focus{
    border-color: var(--orange);;
}
.btn_login{
    display: block;
    width: 100%;
    margin-top: .8rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}.btn_login:hover{
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
}
.login-form-container form #remember{
  margin:2rem 0;
}
.login-form-container form label{
  font-size: 1.5rem;
}
.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.login-form-container form p a{
  color:var(--orange);
}

.login-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}
.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}
 /* show form */
.active{
    top: 0%;
        /* set value attribute top */
}
/* handle collapse menu */
#menu-bar{
    font-size: 3rem;
    color: white;
    border: .2rem solid white;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 0 2rem;
    cursor: pointer;
    display: none;
}.active_menu{
    display: initial;
}

/* section home */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}.home .content{
    text-align: center;
}.home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}.home .content p{
      font-size: 2.5rem;
    color:#fff;
    padding:2rem 0;
}.home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
}.home .controls{
    padding:1rem;
    border-radius: 5rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:10rem;
}.home .controls .vid-btn {
    height: 2rem ;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    margin: .5rem;
    background-color: white;
}.home .controls .vid-btn.active{
  background:var(--orange);
}

/* format book */
.heading{
    text-align: center;
    padding: 13rem 0 10rem;
    background-color: rgba(248, 229, 178, 0.3)
}
.heading span{
   font-size: 3rem;
   padding: .5rem 1.5rem;
   color: var(--orange);
   border-radius: .5rem;
   background-color: rgba(255,165,0,.2);
   margin-right: .5rem;
}
.heading span.space{
    background-color:transparent;
}
.book{    
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}
.book .row{
    
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}
.book .row .image{
  /* flex:1 1 40rem; */
    width: 50%;
    height: 68vh;
    float: left;
    background-color: black;

}.book .row .image img{
  width:100%;
  height: 68vh;
  
}
.book .row .form{
    width: 50%;
    height: 65vh;
    float: right;
  /* flex:1 1 40rem; */
  /* background-color: black; */
  
}
/* format form */
.book .row .form form{
    padding:2rem;
    border-radius: .5rem;
}
.book .row form .inputBox{
  padding:.5rem 0;
  margin: 1rem 0;;
  
  /* background-color: black; */
}
.book .row form .inputBox h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.book .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: .2rem solid skyblue;
    
}.book .row form .inputBox input:focus{
    border: .2rem solid var(--orange);
    box-shadow: 0px 5px 10px 5px rgba(240, 157, 157, .3);

}
.book .row form .inputBox .btn{
    margin-top: .5rem;
}

/* packages */
.heading_packages{
    text-align: center;
    padding: 13rem 0 15rem;
    /* background-color: rgba(248, 229, 178, 0.3) */

}
.heading_packages span{
   font-size: 3rem;
   padding: .5rem 1.5rem;
   color: var(--orange);
   border-radius: .5rem;
   background-color: rgba(255,165,0,.2);
   margin-right: .5rem;
}

.packages{
    width: 80%;
    height: 50vh;
    /* background-color: teal; */
    margin: 0 auto;
}
    /* format card */
.packages .box{
  overflow: hidden;
  width: 33.33%;
  padding: 1rem;
  /* background-color: black; */
  float: left;
}
.packages .box:nth-child(4n){
    clear: left;
}
.hover-pack{
  overflow: hidden;
  width: 100%;
  height: 40vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
}
.packages .box img{
  width: 100%;
  height: 100%;
  transition: ease 1s;
}.packages .box img:hover{
  transform: scale(1.3);
}.box-shaw{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 1rem .5rem 1rem 0.1rem rgba(0,0,0,.3);
} 
    /* format content box */
.box .content{
    padding: 2rem;
}


.box  .content * {
    padding-bottom: .4rem;
    font-size: 1.5rem;
}.box  .content .btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    font-weight: 600;
    transition: ease 200;
}.box  .content .btn:hover{
    background-color: white;
    color: var(--orange);
        font-weight: 600;

}.box  .content h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}.box  .content .price{
    font-size: 2rem;
    font-weight: 500;
}
.box  .content i{
    font-size: 1.5rem;
    color: var(--orange);
}.box .content span{
  text-decoration: line-through;
}

/* format services */
.services {
  clear: left;
  padding-top: 15rem;
  padding-bottom: 10rem;
}


.services .box-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  margin-top: 4rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:var(--orange);
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}


.gallery .heading{
  margin-bottom: 10rem;
  background-color: white;
}
.gallery .box-container{
   width:80%;
  margin: 0 auto;
  padding-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  border:1rem solid rgba(185, 179, 179, 0.1);
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  position: relative;

}
.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
.gallery .box-container .box .content{

  position: absolute;
  top: -120%;left: 0;
  text-align: center;
  /* padding-top: 5rem; */
  padding: 2rem;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,.7);
  transition: ease .8s;
}
.gallery .box-container .box .content h3{
  color: var(--orange);
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
}
.gallery .box-container .box .content p{
  color: white;
  font-size: 1.5rem;

}
.gallery .box-container .box:hover .content{
  top:0;
}

/* reviews carousel */

.review .swiper-container {
  width: 80%;
  margin: 0 auto;
}
.review .review-slider{
  padding-bottom: 2rem;
}
.review .box{
  margin-top: 5rem;
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}
.review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.review .box h3{
  color:#333;
  font-size: 2.5rem;
}
.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}
.review .box .stars i{
  color:var(--orange);
  font-size: 1.7rem;
}

/* contact */
.contact .heading{
  background-color: white;
}
.row{
  width: 80%;
  margin: 0 auto;
}
#contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}
#contact .row .image{
  flex:1 1 35rem;
  /* background-color: black; */
}
#contact .row .image img{
  width:100%;
}
.contact .row form{
  flex:1 1 50rem;
  padding:2.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
  background-color: black;
}
.contact .row .inputBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.contact .row .inputBox input,textarea{
  display: block;
  background-color: rgb(247, 238, 238);
  flex: 1 1 20rem;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border:.2rem solid skyblue;

}.contact .row .inputBox input:focus,textarea:focus{
  border: .2rem solid var(--orange);
}
 
/* brands */
.brand-container{
  width: 80%;
  margin: 0 auto;
}


/* footer */
.footer{
  color: white;
  background-color: rgba(0,0,0,.7);
}
.footer .box-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-bottom: .1rem solid rgba(240, 157, 157, .3);
  margin-bottom: 1.5rem;
}
.footer .box-container .box{
  flex: 1 1 20%;
}
.footer .box-container .box h3{
  font-size: 2.5rem;
  margin: 5rem 0 3rem 0;
}
.footer .box-container .box a,p{
  font-size: 1.5rem;
}
.footer .box-container .box a{
  display: block;
  color: white;
  margin-bottom: 1rem;
}.footer .box-container .box p, a:last-child{
  margin-bottom: 3rem;
}
.footer .credit{
  text-align: center;
  padding: 0 0 3rem 0;
}
/* media */

@media only screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}
@media only screen and (max-width: 951px) {
    header{
        padding: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }
  
}
@media only screen and  (max-width: 660px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

  
}